<?php
$config = [];
$config['id'] = 'SERVER_ID';
$config['name'] = 'SERVER_NAME';
$config['databaseServer'] = 'DATABASE_SERVER';
$config['preparse'] = true;
$config['keys'] = [
];
$config['push'] = [];
$config['push'][] = [
	'url' => 'https://site.awesome.com/provide',
	'key' => 'KEY'
];

$config['siteConfig'] = [];